<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .f {
            width: 110px;
            height: 30px;
        }

        .lost {
            width: 50%;
            text-align: center;
        }

        .m {
            margin: auto;
        }

        .prb {
            margin: auto;
            width: 100%;
            text-align: center;
            padding: 15px;
        }
    </style>
</head>
<body>

<div class="lost m">
    <div class="search">
        <form class="f m" th:action="@{/}">
            <input class="f" type="submit" value="Play again! :)">
        </form>
    </div>
</div>

<div class="container prb">
    <h1>
        <div class="row" th:each="row: ${board.printBoard()}">
            <div class="cell" th:text="${row}"></div>
        </div>
    </h1>
</div>

</body>
</html>