<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>

    <style>
        .pb {
            margin: auto;
            width: 50%;
            text-align: right;
            padding: 15px;
            float: left;
        }

        .s {
            margin: auto;
            width: 40%;
            text-align: left;
            padding: 15px;
            float: right;
        }

        .in {
            width: 110px;
            height: 30px;
        }

    </style>
</head>
<body>

<div class="container pb">
    <h1>
        <div class="row" th:each="row: ${board.printBoard()}">
            <div class="cell" th:text="${row}"></div>
        </div>
    </h1>
</div>


<div class="search s">
    <form th:action="@{/board/passCrd}">
        <input class="in" type="number" name="row" th:max="${board.sizeOfMatrix()} - 1 " min="0" placeholder="pick row"
               required>

        <br>

        <input class="in" type="number" name="col" th:max="${board.sizeOfMatrix()} - 1 " min="0"
               placeholder="pick column" required>
        <br>

        <input class="in" type="submit" value="Submit">
    </form>
</div>
</body>
</html>